@model SDDFOS2021V1.Models.Report

@{
    Layout = "~/Views/Shared/dashboard.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Report</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ReportDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReportDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Admin.AdminName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Admin.AdminName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.CustomerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.CustomerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrderDetail.OrderID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderDetail.OrderID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Payment.PaymentType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Payment.PaymentType)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReportID }, new { @class = "btn btn-info btn-large" }) |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-large" })
    </p>
</body>
</html>
