@model IEnumerable<SDDFOS2021V1.Models.Report>

@{
    Layout = "~/Views/Shared/dashboard.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-large" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin.AdminName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.PaymentType)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admin.AdminName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDetail.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment.PaymentType)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReportID }, new { @class = "btn btn-primary btn-large" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ReportID }, new { @class = "btn btn-info btn-large" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReportID }, new { @class = "btn btn-danger btn-large" })
                </td>
            </tr>
        }

    </table>
</body>
</html>
