@model SDDFOS2021V1.Models.Payment

@{
    Layout = "~/Views/Shared/dashboard.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Payment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PaymentAmount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PaymentAmount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PaymentType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PaymentType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PaymentDate)
            </dd>
    
           
            <dt>
                @Html.DisplayNameFor(model => model.Customer.CustomerName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Customer.CustomerName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OrderDetail.OrderID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OrderDetail.OrderID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Refund.RefundID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Refund.RefundID)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentID }, new { @class = "btn btn-info btn-large" }) |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-large" })
    </p>
</body>
</html>
